.title {
    text-align: center;
}

<<<<<<< HEAD
.t-form,
=======
.mew-form,
>>>>>>> af6e914d834e7736474aa24de8821cb937cc7126
.loading {
    width: 50%;
    margin: 0 auto;
}

.loading {
    text-align: center;
<<<<<<< HEAD
}
.res{

    margin: 0 auto;
    width: 80%;
=======
>>>>>>> af6e914d834e7736474aa24de8821cb937cc7126
}